const letreiro = document.getElementById("letreiro");
const container = document.getElementById("container");

let pos = 0;            // posição inicial
let direction = 1;      // 1 = direita, -1 = esquerda
let velocidade = 2;     // controle da velocidade

function animarLetreiro() {
    const maxPos = container.offsetWidth - letreiro.offsetWidth;

    pos += direction * velocidade;

    if (pos >= maxPos || pos <= 0) {
        direction *= -1; // inverte direção ao chegar na borda
    }

    letreiro.style.left = pos + "px";

    requestAnimationFrame(animarLetreiro);
}

animarLetreiro();
