body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    height: 60px;
    border: 3px solid #00eaff;
    background-color: #000;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

#letreiro {
    position: absolute;
    white-space: nowrap;
    color: #00eaff;
    font-size: 28px;
}
