/* Define largura e altura da tela */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
}

/* Espaço onde o letreiro se movimenta */
#container {
    width: 80%;
    height: 80px;
    border: 3px solid #fff;
    overflow: hidden;
    position: relative;
    background-color: #222;

    /* Espaço livre em torno do letreiro */
    padding: 10px;
}

/* Estilo do letreiro */
#letreiro {
    position: absolute;
    font-size: 28px;
    color: #00ffea;
    font-family: Arial, Helvetica, sans-serif;

    /* Alinhamento do texto dentro do letreiro */
    text-align: center;
    white-space: nowrap;
}
